html, body {
position: relative;
min-width: 100vw;
min-height: 100vh;
margin: 0;
padding: 0;
overflow: hidden;
font-family: 'Open Sans', sans-serif;
background-image: url(../images/bg-rightprice.png);
background-repeat: no-repeat;
background-position: 50% 50%;
background-attachment: fixed;
background-size: cover;
}

/* ***************************************************************************************** *** */
/* *** SPLASH SCREEN *********************************************************************** *** */
/* ***************************************************************************************** *** */
#splashScreen {
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
display: flex;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
text-align: center;
z-index: 1;
transition: opacity 400ms ease-out;
}

#splashScreen.closed {
opacity: 0;
z-index: -1;
}

#splashScreen h2 {
font-size: 32px;
font-weight: 800;
color: #FFFFFF;
text-shadow: 0 0 5px #000000;
text-transform: uppercase;
}

#startGame {
width: 100%;
height: 100%;
background: none;
border: none;
outline: none;
cursor: pointer;
}

#startGame img {
display: block;
margin: 0 auto;
}

/* ***************************************************************************************** *** */
/* *** PLAY GAME *************************************************************************** *** */
/* ***************************************************************************************** *** */
#playGame {
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
display: none;
}

#playGame.playing {
display: block;
}

#playGame .content {
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100%;
max-width: 400px;
height: 100%;
margin: 0 auto;
padding: 0 20px;
}

#playGame .counter {
position: absolute;
top: 0;
right: 0;
padding: 10px;
}

#playGame .counter #mainCounter {
font-size: 24px;
font-weight: 800;
color: #FFFFFF;
text-shadow: 0 0 5px #000000;
}

#playGame .content .miniLogo {
position: absolute;
top: 10px;
left: 10px;
}

#playGame .content .miniLogo img {
width: 100%;
max-width: 100px;
height: auto;
}


#playGame .content h1 {
font-size: 24px;
font-weight: 800;
color: #FFFFFF;
text-shadow: 0 0 5px #000000;
}

#playGame .content .guessing {
display: flex;
flex-direction: column;
}

#playGame .content .guessing input#playerPrice {
width: 100%;
text-align: center;
font-size: 24px;
font-weight: 800;
color: #000000;
letter-spacing: 5px;
padding: 10px 0;
margin-bottom: 10px;
border: 1px solid transparent;
border-radius: 4px;
background: #FFFFFF;
}

#playGame .content .guessing button#guessButton {
width: 100%;
font-size: 24px;
font-weight: 800;
color: #F3EC1A;
text-align: center;
text-transform: uppercase;
padding: 10px 0;
margin-bottom: 5px;
border-radius: 4px;
-webkit-box-shadow: 0 0 3px 3px #ffffff;
box-shadow: 0 0 3px 3px #ffffff;
background: linear-gradient(to right,  #F26822 0%,#CD2027 100%);
}

#playGame .content .guessing .note {
display: block;
width: 100%;
text-align: center;
font-size: 14px;
font-style: italic;
color: #FFFFFF;
text-shadow: 0 0 5px #000000;
}

#playGame .content .guessing input#playerPrice.right {
border: 3px solid #009900;
}

#playGame .content .guessing input#playerPrice.wrong {
color: #CC0000;
border: 3px solid #CC0000;
animation: horizontal-shaking 300ms infinite;
}

@keyframes horizontal-shaking {
0% { transform: translateX(0) }
25% { transform: translateX(5px) }
50% { transform: translateX(-5px) }
75% { transform: translateX(5px) }
100% { transform: translateX(0) }
}

#tooHigh, #tooLows, #youWinr {
position: absolute;
top: 50%;
left: 50%;
font-size: 32px;
font-weight: 800;
text-shadow: 0 0 15px #FFFFFF;
text-wrap: nowrap;
transform: translateX(-50%) translateY(-50%);
transition: all 400ms ;
z-index: -1;
}

#tooHigh, #tooLows {
color: #CC0000;
}

#youWinr {
color: #009900;
}

#tooHigh.triggered {
animation: too-high 800ms 1;
}

#tooLows.triggered {
animation: too-lows 800ms 1;
}

#youWinr.triggered {
animation: you-winr 800ms infinite;
}

#winrDetails {
    display: none;
    font-size: 16px;
    font-weight: bold;
    color: #009900;
    text-align: center;
    text-shadow: 0 0 10px #FFFFFF;
}

#winrDetails.win {
display: block;
}

/*#totalTries {*/
/*display: none;*/
/*}*/

#playAgainBox {
    position: absolute;
    bottom: 50px;
    left: 50%;
    display: none;
    transform: translateX(-50%);
}

#playAgainBox.show {
display: block;
}

#playAgain {
    font-size: 32px;
    font-weight: 800;
    color: #FFFFFF;
    text-shadow: 0 0 5px #000000;
    text-transform: uppercase;
    text-wrap: nowrap;
}

/* ***************************************************************************************** *** */
/* *** ANIMATION *************************************************************************** *** */
/* ***************************************************************************************** *** */
@keyframes too-high {
0% { transform: translateX(-50%) translateY(0); opacity: 1; z-index: 10; }
100% { transform: translateX(-50%) translateY(-100px); opacity: 0; }
}

@keyframes too-lows {
0% { transform: translateX(-50%) translateY(0); opacity: 1; z-index: 10; }
100% { transform: translateX(-50%) translateY(100px); opacity: 0; }
}

@keyframes you-winr {
0% { transform: translateX(-50%) translateY(-50%) scale(100%); opacity: 1; z-index: 10; }
100% { transform: translateX(-50%) translateY(-50%) scale(200%); }
}